/**********************************************************/

@media (max-width: 1700px){

    .portfolio{

        a{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .card{
            width: 95% !important;
        }
    } 

}

/**********************************************************/

@media (max-width: 1450px){

    .section-1{

        i{
            display: none !important;
        }
        
    }

}

/**********************************************************/

@media (max-width: 1200px){

    .navbar{
        
        button{
            border: none !important;
        }

        button:focus{
            display: none !important;
        }

        .navbar-toggler-icon{
            background-image: url("../img/menu.png") !important;
            width: 31px;
        }

    } 

    .section-1{
        text-align: center;

        img{
            width: 70% !important;
            margin-top: 20px;
        }

    }

    .about{
        margin: 200px 0px 200px 0px;

        .btn{
            align-self: center;
            margin-bottom: 100px;
        }

        img{
            width: 50% !important;
            margin-top: 30px;
        }

    }

    .services{
        margin-bottom: 100px;

        .btn{
            margin-bottom: 100px;
        }
    }

    .portfolio{
        margin-bottom: 100px;

        .projects{
            width: 60%;
        }

        .projects-content{
            margin-bottom: 100px;
        }

        .projects-last{
            margin-bottom: 0px;
        }

    }

    .project-img-2{
        margin-bottom: 80px;
        max-width: 60% !important;
    }

    .contacts{
        margin-bottom: 100px;

        img{
            display: none;
        }
    }

    footer{
        text-align: center;
        margin-top: 150px;

        ul{
            margin-bottom: 100px;
        }

        .social{
            margin-bottom: 0px;
        }

        .copyright{
            padding-bottom: 20px;
        }
    }

}

/**********************************************************/

@media (max-width: 1024px){

    body{

        h1{
            font-size: 40px !important;
        }

        h2{
            font-size: 40px !important;
        }

    }

    .about img{
        width: 60% !important;
    }

    .portfolio .projects{
        width: 70%;
    }

}

/**********************************************************/

@media (max-width: 991px){
    .navbar{
        font-size: 18px;

        ul{
            margin: 50px 0px !important; 
            text-align: center;
        }
        
        li{
            margin: 5px 0px !important;
        }
    }
}

/**********************************************************/

@media (max-width: 768px){

    body h2{
        font-size: 35px !important;
    }

    .section-1{

        img{
            width: 100% !important;
        }

        h1{
            font-size: 35px !important;
        }

        h3{
            font-size: 22px !important;
        }

        p{
            font-size: 16px !important;
        }
        
    }

    .section-1-2{
        margin-bottom: 98px !important;
    } 

    .btn-big{
        display: none;
    }

    .about img{
        width: 70% !important;
    }

    .portfolio .projects{
         width: 90%;
    }
}

/**********************************************************/

@media (max-width: 600px){

    body{
        padding: 40px 40px 0px 40px !important;
    }

    .section-1{
        padding: 80px 30px !important;

        p{
            margin-bottom: 30px !important;
        }

        img{
            width: 80% !important;
        }
    }

    .section-1-2{

        margin-bottom: 80px !important;

        p{
            margin-bottom: 0px !important;
        }

    } 

    .cta{
        flex-direction: column;

        .btn{
            margin-top: 20px;
            margin-left: 0 !important;
        }
    }

    .portfolio-content{
        padding: 80px 40px !important;
        h4{
            font-size: 20px !important;
            text-align: center;
        }
        .btn{
            width: 200px !important;
            padding: 10px 30px !important;
        }
    }

    .portfolio-content-2{
        padding: 0 !important;
    }

    .project-img-2{
        margin-bottom: 40px;
        max-width: 80% !important;
    }

    .project-img-2:hover{
        transform: none !important;
    }

    .contacts p{
        width: 100% !important;
    }

    .form-content{
        width: 300px !important;
    }

    footer{
        padding: 0px !important;
    }

}